<!DOCTYPE HTML>
<html>
  <head>
    <title>Flask-SocketIO Test</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
  </head>
  <body>
    <center>
      <br/>
      <br/>
      <h1>WS</h1>
      <br/>
      <br/>
      <form name="upload_form" id="upload_form" onsubmit="event.preventDefault()">
	<input name="name_image" id="name_image" style="width:200px;" type="text" class="form-control" 
	       value="wsocket"
	       placeholder="Image name ..."></input>
	<br/>
	<input name="name" id="name" style="width:200px;" type="text" class="form-control"
	       value="WsTest"
	       placeholder="Name"></input>
	<br/>
	<input name="picture" id="picture" style="width:200px;" type="text" class="form-control"
	       value="http://memecrunch.com/meme/62H3/happy-cat/image.jpg"
	       placeholder="Picture url"></input>
	<br/>
	<input name="cv" id="cv" style="width:200px;" type="text" class="form-control"
	       value="Happy CaT"
	       placeholder="Cv"></input>
	<br/>
      	<input name="launch" id="launch" style="width:200px;" type="submit" class="submit"></input>
      </form>
      <br/>
      <p name="init" id="init"></p>
      <p name="progress" id="progress"></p>
      <p name="end" id="end"></p>
      <p name="md5" id="md5"></p>
      <p name="upload" id="upload"></p>

      <script type="text/javascript" src="/static/ws.js"></script>

    </center>
  </body>
</html>
